appdirs==1.4.3
click==6.7
gym==0.9.4
h5py==2.7.0
mujoco-py==0.5.7
numpy==1.12.1
packaging==16.8
pyglet==1.2.4
PyOpenGL==3.1.0
pyparsing==2.2.0
redis==2.10.5
requests>=2.20.0
six==1.10.0
tensorflow==1.15.2
Werkzeug==0.12.1
